<nav class="vertical_nav">
  <div class="left_section menu_left" id="js-menu">
    <div class="left_section">
      <ul>
        <li class="menu--item">
          <a href=""
             class="menu--link active"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             title="Dashboard">
            <i class="ti ti-layout-dashboard menu--icon"></i>
            <span class="menu--label">Dashboard</span>
          </a>
        </li>
        <li class="menu--item">
          <a href=""
             class="menu--link"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             title="Managed Events">
            <i class="ti ti-calendar-event menu--icon"></i>
            <span class="menu--label">Events</span>
          </a>
        </li>
        <li class="menu--item">
          <a href=""
             class="menu--link"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             title="Payout Management">
            <i class="ti ti-cash menu--icon"></i>
            <span class="menu--label">Payouts</span>
          </a>
        </li>
        <li class="menu--item">
          <a href=""
             class="menu--link"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             title="Plans & Billing">
            <i class="ti ti-crown menu--icon"></i>
            <span class="menu--label">Plans & Billing</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
