{% load webpack_static from webpack_loader %}

<footer class="footer mt-auto">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Company</h4>
            <ul class="footer-link-list">
              <li>
                <a href="" class="footer-link">About Us</a>
              </li>
              <li>
                <a href="" class="footer-link">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Useful Links</h4>
            <ul class="footer-link-list">
              <li>
                <a href="" class="footer-link">Sell Tickets Online</a>
              </li>
              <li>
                <a href="" class="footer-link">Privacy Policy</a>
              </li>
              <li>
                <a href="" class="footer-link">Terms &amp; Conditions</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Resources</h4>
            <ul class="footer-link-list">
              <li>
                <a href="" class="footer-link">Pricing</a>
              </li>
              <li>
                <a href="" class="footer-link">Blog</a>
              </li>
              <li>
                <a href="" class="footer-link">Refer a Friend</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Follow Us</h4>
            <ul class="social-links">
              <li>
                <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-content">
            <h4>Download Mobile App</h4>
            <div class="download-app-link">
              <a href="#" class="download-btn"><img src="{% webpack_static 'images/apps/app-store.png' %}" alt="" /></a>
              <a href="#" class="download-btn"><img src="{% webpack_static 'images/apps/google-play.png' %}" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-copyright-text">
            <p class="mb-0">
              © 2025, <strong>Ticketless.io</strong>. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
