{% load webpack_static from webpack_loader %}

<footer class="footer mt-auto">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Events</h4>
            <ul class="footer-link-list">
              <li>
                <a href="" class="footer-link">Recent</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Useful Links</h4>
            <ul class="footer-link-list">
              <li>
                <a href="{% url 'privacy' %}" class="footer-link">Privacy Policy</a>
              </li>
              <li>
                <a href="" class="footer-link">Terms &amp; Conditions</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Resources</h4>
            <ul class="footer-link-list">
              <li>
                <a href="" class="footer-link">Articles</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-content">
            <h4>Follow Us</h4>
            <ul class="social-links">
              <li>
                <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      {% include 'components/footer/common.html' %}
    </div>
  </div>
</footer>
