.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 640px) { /* sm */
  .container {
    max-width: var(--container-sm);
  }
}

@media (min-width: 768px) { /* md */
  .container {
    max-width: var(--container-md);
  }
}

@media (min-width: 1024px) { /* lg */
  .container {
    max-width: var(--container-lg);
  }
}

@media (min-width: 1280px) { /* xl */
  .container {
    max-width: var(--container-xl);
  }
}

@media (min-width: 1536px) { /* 2xl */
  .container {
    max-width: var(--container-2xl);
  }
}
