@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");
@import "custom_bootstrap_vars";
// @import "~bootstrap/scss/bootstrap";
@import "fastbootstrap/src/scss/fastbootstrap";
@import "@tabler/icons-webfont/dist/tabler-icons.css";

@import "base";
// project specific CSS goes here

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

body,
html {
  scroll-behavior: smooth;
  // background-color: var(--bg-dark);
  font-weight: 400;
  // font-size: 75%;
  font-family: var(--font-smooth-sans), sans-serif;
  // color: var(--primary-color);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}