.offcanvas-center-custom {
  width: 500px;
  max-width: 90%;
  height: 100vh;
  margin: auto;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  //   transition: all 0.25s ease-in-out !important;
}
