.offcanvas-center-custom {
  width: 600px;
  max-width: 90%;
  height: 100vh;
  margin: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
//   transition: all 0.25s ease-in-out !important;
}
