<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-9 col-md-10">
      <div class="hero-banner-content">
        <h2>Your Events, Our Ticketing Expertise</h2>
        <p>
          With Ticketless, you don’t need to manage ticketing yourself. We design, generate, and manage tickets so you can focus on delivering great experiences.
        </p>
        <a role="button" class="main-btn btn-hover launch-event-btn">Launch Your Event <i class="ti ti-arrow-narrow-right ms-3"></i></a>
      </div>
    </div>
  </div>
</div>
