.header__navlinks--content {
  position: fixed;
  top: 0;
  left: -200%;
  height: 100vh;
  width: 80%;
  background-color: #242424;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  &.active {
    left: 0;
  }
}

@media (min-width: 640px) {
  .header__container {
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    border: 1px solid #242424;
    padding-inline: 20px;
    border-radius: 4rem;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo {
    padding: 0;
    flex: 1;
  }
  .header__navlinks--content {
    position: relative;
    display: flex;
    left: 0;
    flex: 1;
    transform: translateY(5px);
    height: auto;
    width: 100%;
    margin-left: auto;
    background-color: inherit;
    ul.header__navlinks--links {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      margin-left: auto;
      li.header__navlink--item {
        padding: 10px 20px;
        .navlink__item.has-submenu,
        .navlink__item {
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 10px;
          &:hover {
            text-decoration: none;
          }
          span {
            color: #fff;
            &:last-child {
              &.ti {
                transform: translateY(3px);
              }
            }
          }
        }
        .navlink__item.has-submenu {
          gap: 10px;
        }
        ul.navlink__submenu--links,
        nav.navlink__submenu--group {
          display: none;
          position: relative;
          transition: all 0.3s ease-in-out;
          &.active {
            display: block;
          }
        }
      }
    }
  }
}

.header__container--menu {
  button {
    width: 20px;
    i {
      font-size: 1rem;
      width: 100%;
      height: 10px;
    }
    &:hover {
      background-color: #242424;
    }
  }
}
