<header class="header">
  <div class="container">
    <div class="header__container py-3  w-100 d-flex align-items-center justify-content-between">
      <a href="#" class="header__logo"><h3>Ticket</h3></a>
      <nav class="header__navlinks--content d-none">
        <ul class="header__navlinks--links">
          <li class="header__navlink--item">
            <a href="#" class="navlink__item">
              <span><i class="ti ti-home"></i></span>
              <span>Home</span>
            </a>
          </li>
          <li class="header__navlink--item">
            <a href="#" class="navlink__item has-submenu">
              <span><i class="ti ti-calendar-bolt"></i></span>
              <span>Events</span>
              <span><i class="ti ti-chevron-down"></i></span>
            </a>
            <ul class="navlink__submenu--links">
              <li class="navlink__submenu--link">
                <a href="#">
                  <span><i class="ti ti-trending-up-3"></i></span>
                  <div>
                    <span>Trending</span>
                    <p>Events everyone is talking about</p>
                  </div>
                </a>
              </li>
              <li class="navlink__submenu--link">
                <a href="#">
                  <span><i class="ti ti-bowling"></i></span>
                  <div>
                    <span>Upcoming</span>
                    <p>Plan ahead for upcoming shows</p>
                  </div>
                </a>
              </li>
              <li class="navlink__submenu--link">
                <a href="#">
                  <span><i class="ti ti-map-pin"></i></span>
                  <div>
                    <span>Online</span>
                    <p>Attend live events from anywhere</p>
                  </div>
                </a>
              </li>
            </ul>
          </li>

          <li class="header__navlink--item">
            <a href="#" class="navlink__item has-submenu">
              <span><i class="ti ti-go-game"></i></span>
              <span>Categories</span>
              <span><i class="ti ti-chevron-down"></i></span>
            </a>

            <nav class="navlink__submenu--group">
              <ul class="navlink__group--item">
                <h3>Entertainment</h3>
                <div>
                  <li>
                    <a href="#">Music & Concerts</a>
                  </li>
                  <li>
                    <a href="#">Nightlife & Parties</a>
                  </li>
                </div>
              </ul>
              <ul class="navlink__group--item">
                <h3>Culture, Lifestyle, Community</h3>
                <div>
                  <li>
                    <a href="#">Arts & Culture</a>
                  </li>
                  <li>
                    <a href="#">Food & Drink</a>
                  </li>
                  <li>
                    <a href="#">Religion & Community</a>
                  </li>
                </div>
              </ul>
            </nav>
          </li>
          <li class="header__navlink--item">
            <a href="#" class="navlink__item">
              <span><i class="ti ti-help"></i></span>
              <span>Help & Support</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__container--menu d-flex d-md-none">
        <ul class="header__container--actions">

        </ul>
        <button type="button" title="menu">
            <i class="ti ti-menu"></i>
        </button>
      </div>
    </div>
  </div>
</header>
