{% load crispy_forms_tags %}
<div class="modal fade" id="loginModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title text-center">Amin Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form method="POST" action="{% url 'account_login' %}" class="p-4">
        {% csrf_token %}

        <div class="modal-body">
          {% if login_form.errors %}
            <div class="alert alert-danger">{{ login_form.non_field_errors }}</div>
          {% endif %}
          {{ login_form|crispy }}
          <input type="hidden" name="remember" value="true" />
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary w-100 py-2">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
