{% extends "tenants/base.html" %}

{% load webpack_static from webpack_loader %}

{% block content %}
  <div class="hero-banner">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="hero-banner-content text-lg-start">
            <h2>{{ request.tenant.name|title }}</h2>
            <p class="ps-0">{{ request.tenant.description|safe|truncatewords:'30' }}</p>
            <a href="" class="main-btn btn-hover">Explore Events<i class="ti ti-search ms-3"></i></a>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-10">
          <div class="hero-side-banner d-none d-lg-block">
            <img src="{% webpack_static 'images/icons/banner.gif' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
